.filter-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;

  .mat-form-field {
    margin: 0 5px;
    flex-basis: 24%;
  }

  .button-search{
    background-color: #aaaaaa;
    color: #000;
    width: 120px;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 10px;
  }
}
