@import 'src/assets/styles/theme';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 12px;
  width: fit-content;
  border-radius: 25px;
  margin: 20px auto;
  padding: 10px 20px;

  color: $white;
  background-color: $primary-color-darker;
  box-shadow: 0 0 15px $primary-color-darker;

  .form-title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
  }

  .form-group {
    width: 300px;
    padding: 5px 10px;

    mat-form-field {
      display: block;

      &+mat-form-field {
        margin-top: 5px;
      }

      input {
        font-size: 14px;
      }

      .field-title {
        font-size: 15px;
        display: block;
        text-align: start;
      }
    }

    mat-label {
      text-align: center;
      font-size: 14px;
    }
  }

  .mat-stroked-button {
    border-radius: 20px;
    padding: 4px;
    transition: .3s;
    width: 33%;
    align-self: center;
    margin-top: 5px;

    &:hover {
      color: $primary-color-darker;
      background-color: $accent-color-light;
    }
  }
}

//::ng-deep .mat-form-field {
//  .mat-input-element {
//    color: slategray;
//  }
//  .mat-form-field-label {
//    color: slategray;
//  }
//  .mat-form-field-underline {
//    background-color: slategray;
//  }
//  .mat-form-field-ripple {
//    background-color: slategray;
//  }
//  .mat-form-field-required-marker {
//    color: slategray;
//  }
//}
