<form [formGroup]="form" (submit)="submitForm()">
  <div class="container">
    <mat-label class="sub-title">Добавление нового объекта исторической значимости</mat-label>

    <div class="form-group">
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Название объекта исторической значимости:</mat-label>
        <input matInput type="text" placeholder="Введите слово для поиска" formControlName="name" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Описание:</mat-label>
        <input
          matInput
          type="text"
          id="description"
          class="form-control"
          formControlName="description"
        />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Основатель:</mat-label>
        <input matInput id="founder" type="text" class="form-control" formControlName="founder" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Дата основания</mat-label>
        <input readonly matInput [matDatepicker]="picker" formControlName="date" />
        <mat-hint>Месяц/День/Год</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year"></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label class="sub-title">Местоположение:</mat-label>
      <mat-form-field appearance="outline">
        <mat-label>Страна</mat-label>
        <mat-select required formControlName="country">
          <mat-option *ngFor="let country of countries" [value]="country.name">{{
            country.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Область</mat-label>
        <mat-select required formControlName="region">
          <mat-option *ngFor="let region of regions" [value]="region.name">{{
            region.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Город</mat-label>
        <mat-select required formControlName="region">
          <mat-option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-label class="sub-title">Координаты:</mat-label>
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Долгота:</mat-label>
        <input matInput type="text" class="form-control" formControlName="latitude" />
      </mat-form-field>
      <mat-form-field color="primary" appearance="outline">
        <mat-label>Широта:</mat-label>
        <input matInput type="text" class="form-control" formControlName="longitude" />
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field appearance="outline">
        <mat-label>Категории</mat-label>
        <mat-select formControlName="categories">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category.name">{{
            category.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Categories</mat-label>
        <mat-chip-list #chipList aria-label="category selection">
          <mat-chip *ngFor="let category of selectedCategories" (removed)="onRemove(category)">
            {{ category }}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New Category..."
            #categoryInput
            formControlName="categories"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addCategory($event)"
          />
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let category of filteredCategories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
  </div>
</form>
