:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background: url(/assets/img/background.jpg) no-repeat center center fixed;
  /*background: linear-gradient(65deg, $primary-color 0%, $primary-color 50%, rgba($primary-color, .9) 70%, rgba($primary-color, .6) 100%) fixed,
  url(/assets/img/background.jpg) no-repeat center center fixed;*/
  background-size: cover;
}

.blur {
  filter: blur(3px);
}
