<mat-toolbar color="primary">
  <div class="header__content">
    <div class="header__title">
      <a routerLink="/home">
        <img src="assets/img/header/logo.svg" alt="" />
      </a>
    </div>

    <div class="header__tabs">
      <span *ngFor="let tab of tabs">
        <a [routerLink]="tab.routerLink" routerLinkActive="active-link">{{ tab.value }}</a>
      </span>
      <app-dev-menu *ngIf="!environment.production"></app-dev-menu>
    </div>
  </div>

  <app-account-nav-bar></app-account-nav-bar>
</mat-toolbar>
