@import 'src/assets/styles/theme';

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
  height: 8vh;
  background: $primary-color-darker;

  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header__title {
      font-size: 24px;
      margin-right: 100px;

      .img:hover {
        cursor: pointer;
      }
    }

    .header__tabs {
      font-size: 20px;
      color: $white;
      display: flex;
      align-items: center;

      span {
        margin: 0 10px;

        a {
          text-decoration: none;
          color: $white;
          letter-spacing: .5px;

          &.active-link {
            color: $accent-color-light;
            font-weight: 500;
          }

          &:hover {
            color: $accent-color-lighter;
          }
        }
      }
    }
  }

  span {
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }
}
