@import 'src/assets/styles/theme';

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 30px;
  background: $primary-color-darker;

  .header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header__title {
      font-size: 24px;
      margin-right: 100px;

      .img:hover {
        cursor: pointer;
      }
    }

    .header__tabs {
      font-size: 20px;
      color: $white;
      display: flex;
      align-items: center;

      span {
        margin: 0 10px;

        a {
          text-decoration: none;
          color: $white;
          letter-spacing: .5px;

          &.active-link {
            color: $accent-color-light;
            font-weight: 500;
          }

          &:hover {
            color: $accent-color-lighter;
          }
        }
      }
    }
  }

  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;


    .user-info__person-icon {
      font-size: 24px;
      background-color: $white;
      border-radius: 20%;
      padding: 5px;
      margin-right: 10px;
      color: $primary-color-darker;
    }

    .user-info__logout-icon {
      font-size: 24px;
      margin-left: 10px;
      color: $white;
      padding: 10px;
      border-radius: 50%;
      opacity: .7;
      transition: all .3s;

      &:hover {
        background-color: $accent-color-light;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  span {
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }
}
