@import 'src/assets/styles/theme';

.not-found-container {
  justify-content: center;
  align-items: center;
  color: $accent-color-lighter;
  text-shadow: 0 0 15px black;

  .error {
    line-height: 0.9em;
    font-size: 150px;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .description {
    letter-spacing: 1.5px;
    text-shadow: inherit;
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .link {
    color: $accent-color-light;
    letter-spacing: 1.5px;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
    border-bottom: $accent-color-light 2px solid;
  }
}

