<div class="search-container">search block</div>
<app-search [timeout]="600" (changeSearch)="handleSearch($event)"></app-search>

<div class="filter-container">filter block</div>

<div class="cards-container" *ngIf="data.length; else elseBlock">
  <div class="card-list flex-center">
    <mat-card
      class="card pointer"
      *ngFor="let card of data"
      (click)="onCardClick(card)"
    >
      <mat-card-header>
        <mat-card-title>{{ card.name }}</mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="card.mainImage"
        alt="Photo of {{ card.name }}"
      />
      <mat-card-content>
        <p>{{ card.description }}</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-icon>star</mat-icon>
        <span class="rating">{{ card.rating }}</span>
      </mat-card-footer>
    </mat-card>
  </div>

  <mat-paginator
    [pageSizeOptions]="[10]"
    showFirstLastButtons
    [length]="total"
    aria-label="Select page of periodic elements"
    [pageIndex]="currentPage"
    (page)="handlePage($event)"
  >
  </mat-paginator>
</div>

<ng-template #elseBlock class="no-data">No data</ng-template>
