.cards-container {
  .card-list {
    flex-wrap: wrap;
    justify-content: space-around;

    .card {
      width: 20%;
      margin: 20px;
      transition: .3s;

      &:hover {
        filter: brightness(1.25);
      }
    }
  }
}

.search-container{
  width:20%;
  margin: 0 auto;
}

.mat-paginator{
  position: fixed;
  bottom: 60px;
  width: 100%;
  border: 1px solid black;
}
