.cards-container {
  .card-list {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 60px;

    .card {
      width: 20%;
      margin: 20px;
      transition: .3s;
      min-width: 330px;
      max-width: 370px;
      height: 320px;

      .mat-card-content{
        flex-grow: 1;
      }

      .mat-icon.active{
        color: yellow;
      }

      .mat-icon.inactive{
        color: white
      }

      img.main-image{
        object-fit: cover;
      }

      &:hover {
        filter: brightness(1.25);
      }
    }
  }
}

.search-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.mat-paginator{
  position: fixed;
  bottom: 0;
  width: 100%;
}
