@import 'src/assets/styles/theme';

.user-info {
  .user-info__person-icon {
    font-size: 18px;
    background-color: $white;
    border-radius: 20%;
    padding: 5px;
    margin-right: 10px;
    color: $primary-color-darker;
  }

  .user-info__logout-icon {
    font-size: 18px;
    margin-left: 10px;
    color: $white;
    padding: 10px;
    border-radius: 50%;
    opacity: .7;
    transition: all .3s;

    &:hover {
      background-color: $accent-color-light;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.justify-content-between {
  justify-content: space-between;
}

button {
  font-size: 16px;
  padding: 3px 10px;
  width: 80px;
  border-radius: 15px 0 0 15px;
  transition: .3s;

  &+button {
    border-radius: 0 15px 15px 0;
    border-left: none;
  }

  &:hover {
    background-color: $accent-color-light;
    color: $primary-color-darker;
  }
}
