<div *ngIf="(authState$ | async) === authState; else auth">
  <button mat-stroked-button (click)="signIn()">Войти</button>
  <button mat-stroked-button (click)="signUp()">Создать</button>
</div>

<ng-template #auth>
  <div class="user-info flex-center justify-content-between">
    <div class="flex-center justify-content-between" (click)="handleAccountClick()">
      <mat-icon class="user-info__person-icon">person</mat-icon>
      <span>{{ name$ | async }}</span>
    </div>
    <mat-icon (click)="logout()" class="user-info__logout-icon">logout</mat-icon>
  </div>
</ng-template>
