<div *ngIf="(authState$ | async) === authState; else auth">
  <button mat-button (click)="signIn()">Sign in</button>
  <button mat-stroked-button (click)="signUp()">Sign up</button>
</div>

<ng-template #auth>
  <div class="user-info d-flex">
    <div class="d-flex" (click)="handleAccountClick()">
      <mat-icon class="user-info__person-icon">person</mat-icon>
      <span>{{ name$ | async }}</span>
    </div>
    <mat-icon (click)="logout()" class="user-info__logout-icon">logout</mat-icon>
  </div>
</ng-template>
