@import 'src/assets/styles/global';

:host, .home-page__container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.home-page__container {
  background: linear-gradient(65deg, $primary-color 0%, $primary-color 50%, rgba($primary-color, .9) 70%, rgba($primary-color, .6) 100%) fixed,
  url(/assets/img/home-page/background.png) no-repeat center center fixed;
  background-size: cover;
  width: 100%;
  justify-content: center;
  align-items: center;

  .home-page__title {
    padding-left: 20px;
    padding-right: 20px;
    width: 40%;
    text-align: center;
    color: white;
    filter: brightness(100%);
    letter-spacing: 0.5px;
    box-shadow: -10px 0 0 $accent-color, 10px 0 0 $accent-color;
    text-shadow: 1px 1px 2px black;

    h1 {
      letter-spacing: 1px;
      font-size: 48px;
      font-weight: bold;
      font-family: Montserrat, sans-serif;
    }

    p {
      font-size: 22px;
      margin-top: 30px;
    }
  }
}
