@import 'src/assets/styles/global';

.home-page__container {
  background: url(/assets/img/home-page/background_home_page.svg) no-repeat center center fixed;
  background-size: contain;
  height: 1048px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-page__title {
    width: 40%;
    text-align: center;
    color: white;
    filter: brightness(100%);
    line-height: 1.2;
    letter-spacing: 0.5px;
    box-shadow: -10px 0 0 $accent-color, 10px 0 0 $accent-color;
    text-shadow: 1px 1px 2px black;

    h1 {
      letter-spacing: 1px;
      font-size: 48px;
      font-weight: bold;
      font-family: Montserrat, sans-serif;
    }

    p {
      font-size: 22px;
      margin-top: 30px;
    }
  }
}
