@import 'src/assets/styles/theme.scss';
@import 'mapbox-gl/dist/mapbox-gl.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

//map popup
.mapboxgl-popup {
  transition: opacity .7s;
  opacity: 0;

  &.opacity1 {
    opacity: 1;
  }
}

.popup-hidden {
  .mapboxgl-popup-tip {
    border: none;
  }

  .mapboxgl-popup-content {
    padding: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
  }
}
