@import 'src/assets/styles/theme.scss';
@import 'mapbox-gl/dist/mapbox-gl.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flex-center {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

//autofill hack
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

//map popup
.mapboxgl-popup {
  transition: opacity .7s;
  opacity: 0;

  &.opacity1 {
    opacity: 1;
  }
}

.popup-hidden {
  .mapboxgl-popup-tip {
    border: none;
  }

  .mapboxgl-popup-content {
    padding: 0;
    background: none;
    border-radius: 0;
    box-shadow: none;
  }
}

//mat-fields
$matBorderRadius: 12px;
.mat-form-field {
  .mat-form-field-subscript-wrapper {
    font-size: 90%;
  }

  &:not(.subscript) .mat-form-field-wrapper {
    //padding-bottom: 0;
  }

  .mat-form-field-infix {
    margin-left: 10px;
  }

  .mat-form-field-outline-start {
    border-radius: $matBorderRadius 0 0 $matBorderRadius !important;
    min-width: $matBorderRadius !important;
  }

  .mat-form-field-outline-end {
    border-radius: 0 $matBorderRadius $matBorderRadius 0 !important;
  }
}
