@import 'src/assets/styles/theme.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  //color: $accent-color-light;
}
